
.card{
    width: 400px;
    height: 400px;
    border: 7px solid rgb(196, 178, 146);
    background-color: rgb(226, 205, 180);
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    
}
.back{
  
    transform: translateX(30%) translateY(30%) rotate(-5deg);
}
.front{
    
    padding: 10px;
    transform: translateX(30%) translateY(30%);
    
}
img{
    width: 100%;
    height: 100%;
}